/* About us  */
.about-us {
    padding: 30px;
    width: 100%;
    height: 70vh;
    background: #ffffff;
}
.boule {
    position: absolute;
    left: 700px;
    top: 310px;
}
.top-flesh {
    position: absolute;
    left: 0px;
    top: 137.96px;
}
.courbe {
    position: absolute;
    top: 50%;
    left: -1%;
}
.vector {
    position: absolute;
    top: 60%;
    left: 0;
}
.bottom-flesh {
    position: absolute;
    top: 82%;
    left: 0px;
}
.about-us-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 45px;
    color: #2e3d5e;
    margin-bottom: 5px;
}
.about-us-desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #2e3d5e;
    margin-top: 25px;
}

/* .team-work {
    width: 80%;
    height: 76px;
    padding: 10px;
} */

#inspire, #create, #support, .space {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 55px;
    text-align: center;
    color: #2e3d5e;
}


/* Team */
.team {
    width: 100%;
    height: inherit;
}

.gr-bg-img {
    background-image: url(../images/team/g.jpeg);
}

.fe-bg-img {
    background-image: url(../images/team/f.jpeg);
}

.ca-bg-img {
    background-image: url(../images/team/c.jpeg);
}

.be-bg-img {
    background-image: url(../images/team/b.jpeg);
}

.ni-bg-img {
    background-image: url(../images/team/n.jpeg);
}



.team-img-card {
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.team-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 55px;
    color: #2e3d5e;
}

.team-desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #2e3d5e;
}

.team-headers {
    max-width: 1383px;
}

.team-headers ul {
    list-style: none;
}

.team-headers li {
    margin: 0 auto;
}
.team-headers a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 55px;

    text-align: center;
    color: #2e3d5e;
}

.team-headers a:hover {
    text-decoration: none;
    border-bottom: 5px solid #0C9FB3;
    padding: 5px;
}

.team-card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.team-member-name, .team-member-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;

    text-transform: uppercase;
    text-align: center;
    color: #2e3d5e;
}
.team-member-title {
    font-weight: normal;
    text-transform: capitalize;
}

footer {
    background: #2e3d5e;
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0px;
    top: 1900px;
}


/* Medium devices (tablets) */
@media (min-width:768px) and (max-width: 991.98px){
    .about-us {
        height: 80vh;
    }

    .about-us-title {
        font-size: 28px;
        line-height: 35px;
    }
    .about-us-desc {
        font-size: 20px;
        line-height: 28px;
    }

    .boule {
        position: absolute;
        left: 600px;
        top: 310px;
    }
    .top-flesh {
        left: -15px;
    }
    .courbe {
        left: -6%;
    }
    .vector {
        left: -2%;
    }
    .bottom-flesh {
        position: absolute;
        top: 92%;
        left: -15px;
        z-index: 1;
    }

    .team {
        position: relative;
        top: inherit;
        width: 100%;
        height: inherit;
    }

    .team-member-name, .team-member-title {
        font-size: 18px;
        line-height: 28px;
    }

    footer {
        height: 350px;
        top: inherit;
        /* top: 1850px; */
    }
}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px){
    .about-us {
        height: 85vh;
    }

    .about-us-title {
        font-size: 28px;
        line-height: 35px;
    }
    .about-us-desc {
        font-size: 20px;
        line-height: 28px;
    }

    .boule {
        display: none
    }
    .top-flesh {
        display: none
    }
    .courbe {
        display: none
    }
    .vector {
        display: none
    }
    .bottom-flesh {
        display: none
    }

    .team {
        position: relative;
        top: inherit;
        width: 100%;
        height: inherit;
    }

    .team-member-name, .team-member-title {
        font-size: 16px;
        line-height: 20px;
    }

    footer {
        top: 3201px;
        height: 80%;
    }

    .footer-title {
        font-size: 12px;
        font-weight: bold;
    }
    
    .reach-out-footer p {
        font-size: 14px;
        line-height: 20px;
    }
    
    .footer-btn {
        height: 30px;
        font-size: 13px;
    }
}

/* Small device(phone portrait) */
@media (max-width: 575.98px){
    .about-us {
        height: 85vh;
    }

    .about-us-title {
        font-size: 28px;
        line-height: 35px;
    }
    .about-us-desc {
        font-size: 20px;
        line-height: 28px;
    }

    .boule {
        display: none
    }
    .top-flesh {
        display: none
    }
    .courbe {
        display: none
    }
    .vector {
        display: none
    }
    .bottom-flesh {
        display: none
    }

    .team {
        position: relative;
        top: inherit;
        width: 100%;
        height: inherit;
    }

    .team-member-name, .team-member-title {
        font-size: 16px;
        line-height: 20px;
    }

    footer {
        top: 3200px;
        height: 120%;
    }
    
    .reach-out-footer p {
        font-size: 14px;
        line-height: 20px;
    }
    
    .footer-btn {
        height: 30px;
        font-size: 13px;
    }
}